@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.App{
  min-height:100vh;
  display:flex;
  background-image:url("./OpenUp.jpg");
  background-size:cover;
  background-position:center;
}